*{
    padding: 0;
    margin: 0;

}


body{
    background-color: #ffffff !important;
}


.navbar{
    z-index: 1000;
    background-color: #0a141d;
    width: 100%;
    color: #efefef;
}

.btn-front a{
    color: #fff;
}
.dropdown-menu a {
    color: #000;
}


.navbar img{
    width: 60px;
    
}

.carousel{
    margin-top: 90px;
    
}

.carousel p,h5{
    color:  #000;
}
.carousel-item img,video{
    width: 100%;
    height: 300px;
}


.titulo-bienvenida-cajas h1{
    margin-top: 90px;
    color: #0a141d;

}

.caja1{
    top: 0px;
    position: relative;
    background-color: white;
    width: 100%;
}
.img-caja img{
    width: 60%;
    border-radius: 10px;
    margin:  20px auto;

}

.todocaja{
    margin-top: 30px;
}

.todocaja img{
    display: block;
    margin: 25px    auto;
    width:300px  ;
    border: #FDE12D solid;
}
.todocaja h2{
    color: red;
}

.boton-compra a{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 15px;
    font-size: 1rem;
    width: 125px;
    border-radius: 10px;

}

.boton-compra i {
    color: #fff;
}


.boton-compra{
    display: flex;
    justify-content: space-evenly;
}


.img-mercagolibre-cajas img{
    width: 45%;
}


.carru-cajas{
    width: 100%;
    height: 200px;
}


.carru-cajas img{
    width: 100%;
    height: 200px;
}

.descrip-caja {
    margin-top: 10px;
}

.descrip-caja  p{
    text-align: left;
}
.carru-img{
    margin-top: 10px;
    width: 210px;
    height: 70px;
}
.carru-img img{
    width: 100% ;
    height: 100%;
}

.footer{
    margin-top: 10px;
    background-color: #ffbe0b;
    height: 250px;
    border-radius: 10px;
}


.footer h1,h3,h2{
    color: #ffffff;
    left: 10px  ;
    
}


.footer i{
    color: #ffffff;
    text-align: center;
    font-size: 40px ;
    margin: 10px;

}



.contac2 a{
    text-decoration: none;
    color: #ffffff;
    

}

.contac a{
    width: 25px;
    text-decoration: none;
    color: #ffffff;
    
}
.contac i{
    font-size: 20px;

}




@media (max-width: 420px)   {


    .todocaja{
        display: block;
        margin:20px  auto;
    }
    .carru-img{
        margin: auto;
        margin-top: 10px;
        width: 210px;
        height: 70px;
    }

    .bienvenida-cajas{
        margin: auto;
        width: 100%;
        border-radius: 20px;
    }


    
}


.pie-pagina{
    margin-top: 50px;
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    margin-top: -50px;
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}